# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/source/x64
/.vs
/.vscode
/.fleet/run.json
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a6e904d26efccb33a0ea.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-52c692738be39217a72a.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-533dcb180b2e413c89fc.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-05-09T22-28-45-0803.json
/cmake-build-debug/.cmake/api/v1/reply/target-Gwent-Debug-1f7ccca020000d0c8a9c.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2b8523915b72404303bf.json
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-057222d4753b441a058b.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-05-12T15-29-05-0369.json
/cmake-build-debug/.cmake/api/v1/reply/target-Gwent-Debug-f44ac35a159aa8820356.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-251ac996dd65ac7df604.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-05-14T09-53-50-0419.json
/cmake-build-debug/.cmake/api/v1/reply/target-Gwent-Debug-630539ab3e15381e56ff.json
/source/vc140.pdb
/x64/Debug
/cmake-build-debug/.cmake/api/v1/reply
/build
/x64
build/Testing
build/CMakeFiles
build
/source/.vs/Dread
GameCode/x64
Debug captures
